<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title><%= definition.title %></title>
    <itunes:author><%= definition.author %></itunes:author>
    <itunes:summary><%= definition.summary %></itunes:summary>
    <% if definition.image %>
    <itunes:image href="<%= definition.image %>"/>
    <% end %>
    <% episodes.each do |ep| %>
    <item>
      <title><%= ep.title %></title>
      <itunes:author><%= definition.author %></itunes:author>
      <% if definition.image %>
      <itunes:image href="<%= definition.image %>"/>
      <% end %>
      <pubDate><%= ep.last_modified.rfc822 %></pubDate>
      <enclosure url="<%= ep.url %>" length="<%= ep.size %>" type="audio/mp4; charset=binary"/>
    </item>
    <% end %>
  </channel>
</rss>
